---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <p class="search_container">
        <input type="search" class="search_field" id="schedule_search_input" onkeyup="scheduleSearch()" placeholder="Search by events/date/title...">
    </p>
    <br style="clear:both" />
    <ul id="schedule_table" class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-4">Course Material</div>
        </li>
        
        {% assign all_assignment_dues = site.homeworks | where_exp: "hw", "hw.due_event" | map: "due_event" %}
        {% assign all_events = site.events | concat: site.lectures %}
        {% assign all_events = all_events | concat: site.homeworks %}
        {% assign all_events = all_events | concat: site.labs %}
        {% assign all_events = all_events | concat: all_assignment_dues %}
        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}

    </ul>
</div>

<script>
function scheduleSearch() {
  // Declare variables
  let input = document.getElementById('schedule_search_input');
  let search_filter = input.value.toLowerCase();
  let table = document.getElementById("schedule_table");
  let rows = table.querySelectorAll(":scope > .table-row")

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < rows.length; i++) { // Ignore header
    let event = rows[i].querySelector('[data-label="Event"]').innerText.toLowerCase();
    let date = rows[i].querySelector('[data-label="Date"]').innerText.toLowerCase();
    let description = rows[i].querySelector('[data-label="Description"]').innerText.toLowerCase();
    let course_material = rows[i].querySelector('[data-label="Course Material"]').innerText.toLowerCase();

     if (event.includes(search_filter) || date.includes(search_filter) ||
        description.includes(search_filter) ||
        course_material.includes(search_filter)) {
        rows[i].style.display = ""; // show row
    } else {
        rows[i].style.display = "none"; // hide row
    }
  }
}
</script>

